@media screen and (min-width: 768px){
    .container{
        max-width: 750px;
    }
    
    /* demo application */
    .demo-application .container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box:first-child{
        width: 65%;
    }

    .box{
        width: 30%;
    }

    /* testimonials */
    .testimonials .container div:not(div:first-child){
        flex-direction: row;
        text-align: left;
    }

    /* benefits */
    .benefits .white{
        width: 100%;
    }

    .benefits .container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits .container .back-white{
        width: calc(100% / 2 - 25px)
    }

    /* about us */
    .about-us .container{
        flex-direction: row;
        justify-content: space-between;
    }

    .about-us .container div:first-child{
        width: 50%;
    }

    .about-us .container div:last-child{
        width: calc(40% - 25px);
    }
}

@media screen and (min-width: 992px) {
    /* HEADER */
    .nav i{
        display: none;
    }

    .nav ul{
        display: flex;
    }



    /* demo application */
    .box:first-child{
        flex-direction: row;
        width: 65%;
    }

    /* strategic planning */
    .strategic-planning .container{
        flex-direction: row;
        justify-content: space-between;
    }

    .strategic-planning .container div{
        width: calc(100% / 2 - 25px);
    }

    /* benefits */
    .benefits .container .back-white{
        width: calc(100% / 3 - 25px)
    }
}