*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
    align-items: center;
}

.black{
    color: black;
}

.white{
    color: white;
}

.margin-c{
    margin: 0 auto;
}

.width-80{
    width: 80%;
}

.padding-lr25{
    padding-left: 25px;
    padding-right: 25px;
}

.padding-tb25{
    padding-top: 25px;
    padding-bottom: 25px;
}

.radius-20{
    border-radius: 20px;
}

.margin-tb25{
    margin-top: 25px;
    margin-bottom: 25px;
}

.apos{
    font-size: 150px;
    position: absolute;
    top: -10%;
    left: 60%;
    color: #9593e6;
}


/* HEADER */
header{
    width: 100%;
    background-color: blue;
}

.nav{
    justify-content: space-between;
    align-items: center;
}

.nav img{
    width: 100px;
    height: auto;
    padding: 15px 0;
}


/* hamburger content */
.nav ul{
    display: none;
    list-style-type: none;
    align-items: center;
}

.nav li{
    padding: 0 20px;
}

.nav li:last-child{
    background-color: grey;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.nav ul a{
    color: white;
    text-decoration: none;
}

.nav i{
    font-size: xx-large;
    color: white;
}



/* MAIN */
main{
    display: flex;
    flex-direction: column;
}

main div{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.back-purple{
    background-color: #9593e6;
}

.box{
    flex-direction: column;
    align-items: center;
    background-color: skyblue;
    border-radius: 20px;
    min-height: 200px;
    text-align: center;
    margin-bottom: 25px;
}


/* demo application */
.box:first-child{
    text-align: left;
}

.box a{
    text-decoration: none;
    background-color: #0084fd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box a .fa-apple{
    padding-right: 10px;
}

.box-head{
    align-items: center;
    flex-direction: column;
    color: #0084fd;
}

.box h3{
    color: #0084fd;
}

.box-head i{
    font-size: 75px;
    padding-top: 25px;
}

.box-head h3{
    font-size: x-large;
    margin: 25px 0px;
}

.box p:not(.box:first-child p){
    padding-bottom: 25px;
}

main div:first-child .box:first-child{
    margin-top: 25px;
}

main div:first-child .box:first-child *:not(.fa-apple){
    margin-top: 25px;
}

main div:first-child .box:first-child img{
    width: 80%;
    height: auto;
}

.box:last-child{
    margin-bottom: 50px;
}


/* strategic planning */
.strategic-planning div:first-child{
    padding-top: 25px;
}

.strategic-planning div{
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.strategic-planning div:nth-child(2){
    align-items: flex-start;  
}

.strategic-planning h2, h3{
    margin: 20px 0px;
}

.strategic-planning div:last-child{
    background-color: white;
    border-radius: 20px;
    padding: 25px 25px;
    line-height: 2;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
}

.fa-arrow-down{
    background-color: #9593e6;
    border-radius: 100%;
    font-size: x-large;
    padding: 20px;
    margin-top: 20px;
}


/* testimonials */
.testimonials div{
    margin: 25px 0px;
    text-align: center;
    min-height: 300px;
}

.testimonials div *{
    margin: 20px;
}

.testimonials img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.testimonials h2{
    color: #9593e6;
    font-size: xx-large;
}

.testimonials p, h3{
    font-size: 20px;
    line-height: 1.5;
}


/* benfits */
.benefits .white h2{
    text-align: center;
    margin-top: 25px;
}

.benefits h2:not(.white h2){
    color: #9593e6;
}

.benefits h2{
    font-size: 40px;
}

.benefits h3{
    font-size: 20px;
    color: #9593e6;
}

.back-white{
    background-color: white;
}

.benefits .flex{
    flex-direction: column;
}

.benefits a{
    width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}


/* about us */
.about-us h2{
    margin-bottom: 25px;
    color: #9593e6;
    font-size: 50px;
}

.about-us .margin-tb25 p{
    line-height: 2.5;
    font-size: large;
}

.about-us h3{
    color: #9593e6;
    font-size: 25px;
    line-height: 1.5;
}

.about-us .img{
    position: relative;
    width: 75%;
}

.about-us img{
    width: 75%;
    height: auto;
    border-radius: 100%;
}

.about-us{
    text-align: left;
}

.about-us a{
    text-decoration: none;
    padding: 10px;
}

.about-us i{
    padding-right: 5px;
}

.about-us .margin-tb25{
    margin-bottom: 50px;
}


/* get started */
.get-started .container *:not(span:first-child){
    margin-bottom: 25px;
}

.get-started .container span:first-child{
    margin-top: 25px;
}

.get-started .container{
    text-align: center;
}

.get-started .back-white{
    color: #9593e6;
    text-decoration: none;
}

.get-started h3{
    font-size: 30px;
}

.get-started h2{
    color: #fdc15f;
    font-size: 60px;
}



/* FOOTER */
footer{
    background-color: #333333;
    width: 100%;
}

footer *:not(a){
    color: white;
}

.footer{
    flex-direction: column;
    text-align: center;
}

footer a{
    color: #9593e6;
}

.footer div{
    margin: 25px 0px;
}